# Any private crt and keys #
############################
*.crt
*.key

# Ignore content of any .vagrant folder that gets created when you run
# vagrant up. Such folder has only files related to created VMs. If you
# re-create VMs, the content will change. It is safe to ignore those files.
*/.vagrant/*

# Ignore Terraform conf/state/backup files
.terraform
*.tfstate
*.backup

# Ignore MacOS system files
.DS_Store

# Ignore log files
*.log

# Ignore Ansible retry files
*.retry

# Ignore IDEs
.vscode
