{
	"applications": {
                "phpcpu": {
                        "type": "php",
                        "workers": 10,
                        "root": "/srv/app/content",
                        "limits": {
                           "timeout": 65
                        }
		}
	},

	"listeners": {
                "*:9080": {
                        "application": "phpcpu"
                }

	}
}
