#!/bin/sh

exec consul-template \
     -consul=consul:8500 \
     -template "/etc/consul-templates/nginx.conf:/etc/nginx/conf.d/app.conf:service nginx reload" \
     -template "/etc/consul-templates/index.html:/usr/share/nginx/html/index.html"
