{
    "applications": {
        "pycnt": {
            "type": "python2.7",
            "user": "nobody",
            "group": "nogroup",
            "processes": {
                "max": 10
            },
            "path": "/srv/app/content",
            "module": "testcnt"
        }
    },

    "listeners": {
        "*:9080": {
            "application": "pycnt"
        }
    }
}
