{
    "applications": {
        "pycnt": {
            "type": "python",
            "user": "nobody",
            "group": "nogroup",
            "workers": 10,
            "path": "/srv/app/content",
            "module": "testcnt"
	}
    },

    "listeners": {
        "*:9080": {
            "application": "pycnt"
        }
    }
}
