{
    "listeners": {
        "*:8000": {
            "application": "regextester"
        }
    },

    "applications": {
        "regextester": {
            "type": "php",
            "user": "root",
            "group": "root",
            "root": "/usr/share/nginx/html",
            "index": "index.php"
        }
    }
}

