{
    "applications": {
        "demo": {
            "type": "php",
            "processes": {
                "max": 10
            },
            "root": "/srv/app/content",
            "limits": {
               "timeout": 10
            }
	}
    },

    "listeners": {
        "*:9080": {
            "application": "demo"
        }
    }
}
