{
	"applications": {
        "phpmem": {
            "type": "php",
            "user": "nobody",
            "group": "nogroup",
            "processes": {
                "max": 10
            },
            "root": "/srv/app/content",
            "limits": {
                "timeout": 65
            }
		}
	},

	"listeners": {
        "*:9080": {
            "application": "phpmem"
        }
	}
}
